doctype html
head
	title users
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")
#container.col(style="padding-left: 50px; padding-right: 50px")
	h4 Lets Add Some User!!
	form(method='POST', action="/users")
		div.row
			div.input-field.col.s6
				label(for="email") Email
				input(type="text", name="email")
			div.input-field.validate.col.s6
				label Password
				input(type="password", name="password")
			div.col.s12
				input.waves-effect.waves-light.btn(type="submit")
	div.col.s6
		table.highlight
			thead
				tr
					th NO
					th Email
					th Password
					th Option
			tbody
				for user, index in users
					tr
						td= index+1
						td= user.email
						td= user.password
						td 
							a(href=`/users/delete/${ user.id }`) Delete

